cards {
  padding-top: 20px;
}

.cards__list {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 40px;
  display: grid;
  gap: 40px 20px;
  list-style-type: none;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    margin-bottom: 20px;
  }
}
